//  ------------------------------------------
//  COLORS
//  ------------------------------------------
$color-black: #000;
$color-grey: #979797;
$color-grey-dark: #494949;
$color-grey-medium: #c4cdd5;
$color-grey-light: #F8F8F8;
$color-green: #00DB80;
$color-green-dark: #00BA6D;
$color-green-light: #F5FEFA;
$color-white: #fff;


//  ------------------------------------------
//  RESPONSIVE TYPOGRAPHY
//  ------------------------------------------
$baseline: 1.5rem;

$minScreen: 20rem;
$maxScreen: 62.5rem;
$minFont: 1.5rem;
$maxFont: 2rem;

$h1: 2.5rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;


//  ------------------------------------------
//  MAX CONTENT WIDTH
//  ------------------------------------------
$max-width: 46rem;